.hero{
    background: navy;
    height: 500px;
}
.logo{
    font-family: "Fredoka One";
    font-size: 3.6rem;
    
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: navy;
    padding: 20px
}
nav{
    display: flex;
    flex-direction: flex-end;
    align-items: center;
    justify-content: space-evenly;
    a{
        font-size: 2rem;
        color: gray;
        text-decoration: none;
        margin: 10px
        
    }
}